@import "./_mixin";

body {
  min-height: 100vh;
  background-color: #fff;
}

.wrap {
  width: 960px;
  margin: 0 auto;
  padding-top: 54px;
  min-height: 100vh;
}

.title {
  text-align: center;
  margin: 32px auto;
  font-weight: bold;
}

.name, .price {
  color: #333;
}

img {
  width: 100%;
}

