@import "./_mixin";

#HOME {
  .container {
    margin-bottom: 64px;
  }
  .item-container {
    margin: 10px auto;
    width: 30%;
    .name {
      margin-top: 10px;
      text-align: center;
      font-weight: bold;
    }
    .price {
      text-align: center;
    }
  }
  .search {
    margin: 30px 0px;
  }
  .uk-inline {
    width: 100%;
  }
  .uk-grid {
    margin-left: 0;
  }
  .uk-search-input {
    border: 1px solid lightgrey;
  }
  .float-right {
    float: right;
  }
  p {
    margin: 0;
  }
}

#ITEM_DETAIL {
  .two-col {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
  }
  .col-left {
    width: 45%;
  }
  .col-right {
    width: 45%;
    .name {
      font-weight: bold;
    }
    .price {
      font-weight: bold;
    }
    .tax {
      font-weight: nomal;
      font-size: 12px;
    }
  }
}
